@model IEnumerable<Bricks.Models.Product>
<h1>Product Table</h1>
<table class="table border m-2 col-xl-8 col-lg-7">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.ProductName</td>
                <td>&#8377; @items.Price</td>
                <td>@items.Description</td>
                <td><a asp-action="EditProduct" asp-controller="Production" asp-route-id="@items.Id" class="btn btn-warning">Edit</a>
                <a asp-action="DeleteProduct" asp-controller="Production" asp-route-id="@items.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>