@model Bricks.Models.Sales

<div class="col-xl-4 col-lg-4 container border">
<h2>Sales</h2>
<form method="post" asp-action="Sales" asp-controller="Production" class="pt-4">
    <div>
        <label asp-for="BuyerName" ></label>
        <div>
            <select class="form-control" asp-for="BuyerName" asp-items="@ViewBag.Customer">
                <option disabled selected ="Id">--Select Customer--</option>
            </select>
        </div>
    </div>
        <div>
        <label asp-for="Date" ></label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>
    <div>
        <label asp-for="ProductName">Product</label>
        <div>
            <select id="ProductId" class="form-control" asp-for="ProductName" asp-items="@ViewBag.Product">
                <option disabled selected ="Id" >--Select Catagory--</option>
            </select>
        </div>
    </div>
    <div>
        <label asp-for="Catagory"></label>
        <div>
            <select class="form-control" asp-for="Catagory" asp-items="@ViewBag.SelectList">
                <option disabled selected ="Id">--Select Catagory--</option>
            </select>
        </div>
    </div>
    <div>
        <label asp-for="AmountOfBricks"></label>
        <div style="display: flex;">
            <input asp-for="AmountOfBricks" id="AmountOfBricks" class="form-control" />
            <select asp-for="Unit" asp-items="@ViewBag.Unit">
                <option disabled selected ="Id">--Unit--</option>
            </select>
        </div>

    </div>
    <div>
        <label asp-for="PriceperBrick">Price Per Brick</label>
        <input asp-for="PriceperBrick" id="PriceperBrick"  class="form-control" readonly/>
    </div>
        <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" id="Price" class="form-control" readonly/>
        
    </div>
    <div>
        <label asp-for="AmountPaid"></label>
        <input asp-for="AmountPaid" id="AmountPaid" class="form-control"/>
    </div>
    <div>
        <label asp-for="AmountRemaining"></label>
        <input asp-for="AmountRemaining" id="AmountRemaining" class="form-control" readonly/>
    </div>
    <div>
        <label asp-for="ModeOfPayment"></label>
        <div>
            <select class="form-control" asp-for="ModeOfPayment">
                <option disabled selected>--Select Mode Of Payment--</option>
                <option>Cash</option>
                <option>UPI</option>
                <option>Bank</option>
            </select>
        </div>
        
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-2 d-flex justify-content-end">Submit</button>
    </div>
</form>
</div>

@section scripts{
    <script src="/home/ashish/Bricks/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#AmountOfBricks,#PriceperBrick").on("input",function(){
                var amountOfBricks = parseInt($("#AmountOfBricks").val()) || 0;
                @* console.log(amountOfBricks); *@
                var pricePerBrick = parseInt($("#PriceperBrick").val()) || 0;
                @* console.log(pricePerBrick); *@
                var price = amountOfBricks * pricePerBrick;
                console.log(price);
                $("#Price").val(price);
            });
        });
        $(document).ready(function(){
            $("#Price,#AmountPaid").on("input",function(){
                var price = parseInt($("#Price").val()) || 0;
                var amountpaid = parseInt($("#AmountPaid").val()) || 0;
                var amountremaining = price - amountpaid;
                $("#AmountRemaining").val(amountremaining);
            });
        });

    $(document).ready(function() {
        $('#ProductId').change(function() {
            var productId = $(this).val();
            console.log(productId);
            $.ajax({
                    url: '@Url.Action("GetPrice", "Production")',
                    type: 'GET',
                    dataType: 'json',
                    data: { ProductName: productId },
                    success: function (data) {
                        @* console.log(data); *@
                        $('#PriceperBrick').val(data);
                    }
                });
        });
    });

    </script>
}